@font-face{
    font-family: '둥글';
    font-style: 'normal';
    font-weight: 400;
    src: url('KCC-Ganpan.woff');
}

body{
    background: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "둥글";
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255,0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    border: 3px solid white;
    padding: 1em 6em;
}

.title-section{
    display:flex;
    margin: 15px 0;
}

.title-section>img{
    position:relative;
    bottom: 8px;
}

.title-section>h2{
    margin-left: 0.2em;
}

.search-section {
    margin-bottom: 10px;
}

.search-section>input{
    width: 500px;
    height: 35px;
    border: 1px solid #dfe1e5;
    border-radius:24px;
    margin-right:8px;
    padding-left: 35px;
}

.search-section>input:hover{
    background: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: transparent;
}

.search-section>i{
    position: relative;
    left: 28px;
    bottom: 1px;
    color: #9aa0a6;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px; 
    /* makes input border not highlighted when selected */
}

.text-middle{
    text-align: center;
}

.result-city{
    color:blue;
}

.column{
    display:flex;
    justify-content: center;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 1px solid white;
    padding: 2em;
}

.temp-box{
    flex-direction:row;
    padding-right:3em;
}

.weather-section img{
    width: 6em;
}

.mid-box>img{
    width: 7em;
}

.weather-section h4{
    text-align: center;
}

.temp-box h4{
    text-align: left;
}

.wind-box img{
    margin-bottom: 1em;
}

.myloc-button{
    margin-bottom:1.5em;
}

.button-style{
    color:black;
}

.button-style>img{
    width:50px;
}

@media (max-width:992px){
    .weather-box{
        width: auto;
        height: auto;
    }

    .col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        border: 1px solid white;
        padding: 1em;
    }
    
    .temp-box{
        flex-direction:row;
        padding-right:3em;
    }
    
    .weather-section img{
        width: 4em;
    }
    
    .mid-box>img{
        width: 5em;
    }

    .wind-box img{
        margin: 1em;
    }
    
    .myloc-button{
        margin-bottom:1.5em;
    }
    
    .button-style{
        color:black;
    }
    
    .button-style>img{
        width: 3em;
    }
}

@media (max-width:600px){

}